*,
*::after,
 *::before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: #ddd;
     overflow-x: hidden;
     padding-bottom: 200px;
 }

 .intro {
     background: url(https://source.unsplash.com/AnjGcUxk9ME) center/cover no-repeat;
     width: 100%;
     position:fixed;
     top: 0;
     height: 25vh;
     z-index: 3;
     box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
     border-bottom: 1px solid #333;
 }
 .container {
     width: 90%;
     max-width: 1200px;
     margin: 0 auto;
     text-align: center;
 }
 h1 {
     font-size: 5.5rem;
     text-shadow: 2px 3px 2px #333;
     letter-spacing: 4px;
     padding-top: 100px;
 }
 .timeline {
     top:25vh;
     position:relative;
     height: 75vh;
 }
 ul {
     padding: 50px 0;
 }

 li {
     list-style: none;
     position: relative;
     width: 6px;
     margin: 0 auto;
     padding-top: 50px;
     background: #333;
     box-shadow: 0 0 10px 2px #333;
 }
 li::after {
     content: '';
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translateX(-50%);
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background: inherit;
 }
 li div{
     position: relative;
     bottom: 0;
     width: 350px;
     height: 550px;
     border-style: solid;
     padding: 1rem;
     border-radius: 5px;
     box-shadow: 0 10px 15px 2px #333;

 }

 li div::before {
     content: '';
     position: absolute;
     bottom: 7px;
     width: 0;
     height: 0;
     border-style: solid;
 }

 li:nth-child(odd) div{
     left: 3rem; 
 }

 li:nth-child(odd) div::before {
     left: -15px;
     border-width: 8px 16px 8px 0;
     border-color: transparent orangered transparent transparent ;
 }

 li:nth-child(even) div{
     left: -439px;
 }
 li:nth-child(even) div h2{
     text-align: right;
 }
 li:nth-child(even) div::before {
     left: -15px;
     border-width: 8px 16px 8px 0;
     border-color: transparent  transparent transparent orangered;
 }
 h2{
     background-color: rgba(0, 0, 0, 0.1);
     
 }
 p {
     background-color: rgba(0, 0, 0, 0.5);
     padding: 0.5rem;
     margin-top: 2rem;
 }
 li:nth-child(1) div{
     background: url(https://images.unsplash.com/photo-1579783902614-a3fb3927b6a5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXJ0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) center/cover;
 }
 li:nth-child(2) div{
     background: url(https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) center/cover;
 }
 li:nth-child(3) div{
     background: url(https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80) center/cover;
 }
 li:nth-child(4) div{
     background: url(https://images.unsplash.com/photo-1561214115-f2f134cc4912?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=353&q=80) center/cover;
 }
 li:nth-child(5) div{
     background: url(https://images.unsplash.com/photo-1515405295579-ba7b45403062?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80) center/cover;
 }
 li:nth-child(6) div{
     background: url(https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80) center/cover;
 }
 li:nth-child(7) div{
     background: url(https://images.unsplash.com/photo-1549490349-8643362247b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80) center/cover;
 }
 li:nth-child(8) div{
     background: url(https://images.unsplash.com/photo-1484589065579-248aad0d8b13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=396&q=80) center/cover;

 }
 li:nth-child(9) div{
     background: url(https://images.unsplash.com/photo-1549887552-cb1071d3e5ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=401&q=80) center/cover;
 }
 li:nth-child(10) div{
     background: url(https://images.unsplash.com/photo-1603344204980-4edb0ea63148?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80) center/cover;
 }
 li:nth-child(11) div{
     background: url(https://images.unsplash.com/photo-1578059457703-850565b053f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80) center/cover;
 }
 li:nth-child(12) div{
     background: url(https://images.unsplash.com/photo-1602532305019-3dbbd482dae9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80) center/cover;
 }
 li:nth-child(13) div{
     background: url(https://images.unsplash.com/photo-1608094510969-00a4353cea2d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80) center/cover;

 }
li::after {
    transition: background 0.5s ease-in-out;
}
 li.in-view::after {
     background: orangered;
 }
  li div {
     visibility: hidden;
     opacity: 0;
     transition: all 0.5s ease-in;
  }

 li:nth-child(odd) div {
     transform: translateX(200px);
 }
  li:nth-child(even) div {
     transform: translateX(200px);
 }
 li.in-view div {
     transform: none;
     visibility: visible;
     opacity:1;
 }
 li.not-in-view div {
     visibility: hidden;
     opacity: 0;
 }
@media (max-width:900px){
    li div{
        width:250px;
    }
    li:nth-child(even) div{
        left: -289px;
    }
}

 @media (max-width: 600px) {
     li{
         margin-left: 20px;
     }
     li div{
         width: calc(100vw -91px)
     }
     li:nth-child(even) div {
         left: 45px;
     }
     li:nth-child(even) div::before {
         left: -15px;
         border-width: 8px 16px 8px 0;
         border-color: transparent orangered transparent transparent;
     }
 }