* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue", cursive;
  height: 100vh;
  background: url(https://source.unsplash.com/user/erondu) center/cover
    no-repeat;
}

.container {
  position: relative;
  top: 30vh;
  max-width: 300px;
  margin: auto;
}

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
  color: #04a1bf;
  transition: all 0.5s ease;
}
#enter:hover {
  background-color: #04a1bf;
  color: #fff;
}
ul {
  margin-top: 20px;
}
li {
  padding: 10px 20px;
  color: #111;
  text-transform: capitalize;
  font-weight: 500;
  border: 2px solid #04a1bf;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  letter-spacing: 2px;
}
li:hover {
  background-color: #264247;
  color: #fff;
}
input {
  border-radius: 3px;
  max-width: 70%;
  padding: 5px;
  border: none;
  outline: none;
}
